.title {
    font-size: 28px;
}

.main_body {
    background-color: rgb(0, 0, 0);
    padding: 30px;
} 

.where_to_go a{
    display: flex;
    justify-content: space-around;

}

.where_to_go {
    padding: 2%;
    background-color: gold;
}

.color-links a{
    font-size: 23px;
    color: green;

}

.controls {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.highlight {
    background-color:rgb(212, 186, 70);
}

.where_stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------^^^^^^^^^^-- everything above title "About Me" --^^^^-------*/



#main-title {
    text-align: center;
    color: black;
    background-color: gold;
    padding: 70px;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.about_me {
    margin-top: 25px;
    color: gold;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    font-size: 20px;
}

.My_Hobbies, .Photo_Gallery, .Weekly_Schedule{
    text-align: center;

}

.listItems p{
    text-align: center;
    color:gold;
}

.picture{
    display: flex;
    flex-direction:row;
    
}
.picture img{
    border: 3px solid white;
}

.center_pics {
    display:flex;
    justify-content: center;
}


.video_game-picture, .warhammer, .marvel_game_thor{
    /* display: block; */
    
    flex-direction:row;
    border: 5px solid #000000;
    text-align: left;
}



.table_layout, .title, .table_text {
    border: 1px solid goldenrod;
    text-align: center;
    
    
}

.table_text {
    color: gold;
} 


.title_color {
    font-size: 20px;
    color: gold;
}


.table_layout {
    width: 40%;
}

.table {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}